body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.block-resp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem auto 0 auto;
    width: 100vw;
    max-width: 1440px;
    height: 100px;
    background-color: #333;
    z-index: 0;
}

.content-resp {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4.132%;
    z-index: 2;
}

.static-content-resp {
    display: inherit;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.dynamic-content-resp {
    display: inherit;
    align-items: center;
    justify-content: center;
}

.cursor-resp {
    margin-left: 5px;
    margin-bottom: 5px;
    height: 19px;
    border-right: 2px solid #E50C7E;
}

.text-resp {
    font-size: 16px;
    text-align: center;
}

.h1-resp {
    font-size: 16px;
    text-align: center;
}

.h3-resp {
    font-size: 12px;
    text-align: center;
}

.text-fluid {
    text-align: left !important;
}

.display-name-resp {
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 2rem);
    max-width: 1440px;
    margin: 0.8rem 0.8rem 0 0.8rem;
}

.display-link {
    color: #E50C7E;
    text-decoration: underline;
}

.display-btn {
    border: 1px solid #ffffff;
    background-color: transparent;
    padding: 6px;
    margin: 0 0 0 10px;
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
}

.display-btn:hover {
    border: 1px solid #E50C7E;
    background-color: #E50C7E;
    color: #ffffff;
}

.only-bg {
    display: none;
}

.only-tn {
    display: inline-block;
}

@media only screen and (min-width: 575px) {
    .block-resp {
        height: 150px;
    }

    .static-content-resp {
        width: 560px;
    }

    .text-resp {
        font-size: 24px;
    }

    .h1-resp {
        font-size: 24px;
    }

    .h3-resp {
        font-size: 16px;
    }

    .text-fluid {
        text-align: right !important;
    }

    .display-btn {
        margin: 0 0 0 20px;
        padding: 8px;
        font-size: 14px;
    }

    .cursor-resp {
        height: 29px;
    }

    .only-tn {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .block-resp {
        height: 200px;
    }

    .content-resp {
        padding: 0 8.678%;
    }

    .static-content-resp {
        width: 620px;
        margin-bottom: 20px;
    }

    .text-resp {
        font-size: 32px;
    }

    .h3-resp {
        font-size: 18px;
    }

    .display-btn {
        margin: 0 0 0 16px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {
    .block-resp {
        justify-content: flex-start;
    }

    .content-resp {
        flex-direction: row;
        align-items: center;
        padding: 0 0 0 8.678%;
    }

    .static-content-resp {
        width: 470px;
        margin-right: 30px;
        margin-bottom: 0px;
        flex-direction: column;
        align-items: flex-end;
    }

    .text-resp {
        text-align: left;
    }

    .h1-resp {
        text-align: left;
    }

    .h3-resp {
        text-align: right;
    }

    .display-btn {
        margin: 10px 0 0 0;
    }
    .only-bg {
        display: inline-block;
    }
}

@media only screen and (min-width: 1440px) {
    .content-resp {
        padding: 0 0 0 125px;
    }

    .static-content-resp {
        width: 500px;
        margin-right: 50px;
        margin-bottom: 0px;
    }

    .display-name-resp {
        margin: 0.8rem auto 0 auto;
    }

    .h1-resp {
        font-size: 32px;
    }

    .cursor-resp {
        height: 40px;
    }
}